@page "/"
@using ClockApp.Data;
<style>
</style>

<div class="background">

</div>
<div class="statebuttons">
</div>

@if(CurrentState == ClockState.Clock)
{
	<Clock/>
}
else if(CurrentState == ClockState.Gacha)
{
	<Gacha/>
}
else if(CurrentState == ClockState.Setting)
{
	
}

@code {

	private enum ClockState{ Clock, Gacha, Setting};
	ClockState CurrentState = ClockState.Clock;

	public Index()
	{
		PreferencesInitial.SetPreferences();
	}

	private void ChangeSetting(ClockState e)
	{
		CurrentState = e;
		// 出力を変更するコード
	}


}